:root {
  --body-bg: #123;
  /*--nav-bg: #234;*/
  --nav-bg: rgb(69, 92, 115);
}

* {
  box-sizing: border-box;
}
html {
  font-family: system-ui;
}
body {
  /* Example of a large content in <main>*/
  min-height: 200vh;

  margin: 0;
  font-size: 1.25rem;
  background: var(--body-bg);
  color: white;

  display: grid;
  grid-template-columns: 15rem 1fr;
  gap: 4rem;
}

nav {
  /* Solution of making thing sticky if the height of the content is ever over 100vh on the <main>*/
  position: sticky;
  top: 0;
  max-height: 100svh;

  background-color: var(--nav-bg);
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  gap: 2rem;
  padding-block: 2rem;
  font-size: 1rem;
}

.nav-list li {
  /*background: pink;*/
  padding: 1rem 2rem;
  margin-left: 2rem;
  border-radius: 100vw 0 0 100vw;
}

.nav-list li.active {
  /* Should have a view-transition-name when using <meta name="view-transition" .. />
     only one element should assign to one view-transition-name, in our case, we will only have one .active element
     e.g. cannot do ".nav-list a { view-transition-name: activeNavTab;}"
  */
  view-transition-name: activeNavTab;

  /*background: red;*/
  background: var(--body-bg);
  position: relative;
}

.nav-list li:nth-child(1) a {
  view-transition-name: navLink-1;
}
.nav-list li:nth-child(2) a {
  view-transition-name: navLink-2;
}
.nav-list li:nth-child(3) a {
  view-transition-name: navLink-3;
}

::view-transition-group(activeNavTab) {
  animation-duration: 1.5s; /* you see the problem when switching between navigation item with long duration */
}

.nav-list li.active::before,
.nav-list li.active::after {
  --border-radius: 1rem;

  content: '';
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  right: 0;

  /* !!! final step */
  /*background: red;*/
  background: var(--nav-bg);
  /*border-radius: 100vw;*/
}

.nav-list li.active::before {
  top: calc(var(--border-radius) * -1);

  border-radius: 0 0 100vw 0;
  /*box-shadow: 0 0 0 5px green;*/
  /*box-shadow: 5px 5px 0 5px green;*/
  box-shadow: 10px 10px 0 10px var(--body-bg);
}
.nav-list li.active::after {
  bottom: calc(var(--border-radius) * -1);

  border-radius: 0 100vw 0 0;
  box-shadow: 10px -10px 0 10px var(--body-bg);
}

.nav-list a {
  color: white;
  text-decoration: none;

  /* Fix the problem that view-transition-name creates */
  display: block;
  position: relative;
  z-index: 10;
}
